.carousel-inner {
    margin-top: 10px;
}

.carousel-item {
    height:min-content
}
.carousel-caption {
    background-color: brown;
    border-radius: 50px;
}
.carousel-control-prev-icon {
    background-color: teal;
}
.carousel-control-next-icon {
    background-color: aquamarine;
}